REACT_APP_TERAID_PAY_API=http://localhost:8005
GENERATE_SOURCEMAP=false

REACT_APP_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id

REACT_APP_RPC_URL_ETHEREUM_MAINNET=https://ethereum-rpc.publicnode.com
REACT_APP_RPC_URL_ETHEREUM_SEPOLIA=https://ethereum-sepolia-rpc.publicnode.com
REACT_APP_RPC_URL_POLYGON_MAINNET=https://polygon-bor-rpc.publicnode.com
REACT_APP_RPC_URL_POLYGON_AMOY=https://polygon-amoy-bor-rpc.publicnode.com

REACT_APP_JPYC_TOKEN_ADDRESS_ETHEREUM_MAINNET=
REACT_APP_JPYC_TOKEN_ADDRESS_ETHEREUM_SEPOLIA=0xE7C3D8C9a439feDe00D2600032D5dB0Be71C3c29
REACT_APP_JPYC_TOKEN_ADDRESS_POLYGON_MAINNET=
REACT_APP_JPYC_TOKEN_ADDRESS_POLYGON_AMOY=
